* {
  font-family: 'ALS Hauss', Helvetica, 'Helvetica New', Arial, sans-serif;
}

@font-face {
  font-family: 'ALS Hauss';
  font-display: swap;
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Regular.eot');
  /* Fix IE11 */
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  font-display: swap;
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Medium.eot');
  /* Fix IE11 */
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  font-display: swap;
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Bold.eot');
  /* Fix IE11 */
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/ALS_Hauss-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  font-display: swap;
  src: url('https://www.raiffeisen.ru/common/new/images/fonts/Navigo-Bold-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
}

button {
  font-size: 14px;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
}

body {
  position: relative;

  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;

  height: 80px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo {
  position: absolute;
  left: 32px;
}

.user {
  display: flex;
  position: absolute;
  right: 86px;
  background-color: transparent;
  border: none;

  padding: 0;

  width: 162px; 
  height: 32px;

  font-size: 14px;
}

.user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.user-pic {
  margin-left: 12px;
}

.exit {
  position: absolute;
  right: 35px;
  background-color: transparent;
  background-image: url(img/Exit.svg);
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  border-radius: 0%;

  height: 32px;
  width: 24px;
  padding: 0;
}

.content {
  position: relative;
  top: 128px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement {
  display: flex;

  position: relative;

  box-sizing: border-box;
  height: 300px;
  width: 1030px;

  background: #CFF1E9;
  border-radius: 32px;

  margin-bottom: 56px;
}

.announcement-info {
  position: absolute;
  z-index: 100;
  padding: 40px 48px;
}

.announcement-type {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  margin: 0;
}

.announcement-name {
  font-family: Navigo;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.announcement-details {
  display: flex;

  font-size: 14px;
  line-height: 22px;
  font-weight: 500;

  margin-bottom: 36px;
}

.announcement-details p {
  margin-right: 6px;
}

.announcement-button {
  height: 48px;
  width: 197px;

  background: #2B2D33;
  color: #FFFFFF;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.announcement-img {
  position: absolute;
  right: 0;
}

.cloud {
  position: absolute;
  bottom: 18.89px;
  right: 0;
}

.events {
  width: 1030px;
}

h1 {
  margin: 0;

  font-family: Navigo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.events-sections {
  display: flex;
  margin-top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.events-section-name {
  display: inline-block;
}

.events-section-name:nth-child(n+2) {
  margin-left: 8px;
}

.events-section-name input[type=radio] {
  display: none;
}

.events-section-name label {
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  border-width: 0px;
  padding: 5px 16px;
  background: #F4F4F4;
}

.events-section-name input[type=radio]:checked+label {
  background: #2B2D33;
  color: #FFFFFF;
}

table {
  margin-top: 40px;
  box-sizing: border-box;
  width: 1030px;
}

tr {
  padding: 12px 8px;
  margin: 0;
}

td {
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: top;

  font-size: 14px;
  line-height: 22px;
}

.dates {
  width: 78px;
  padding-right: 23px;
}

.info {
  width: 426px;
  padding-right: 8px;
}

.likes {
  width: 75px;
}

.persons {
  color: #00A5BC;

  width: 177px;
  padding-right: 8px;
  padding-left: 8px;
}

.event-buttons {
  max-width: 202px;
}

.event-description {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #AAABAD;
}

.like-button {
  background-color: transparent;
  background-image: url(img/like.svg);
  background-repeat: no-repeat;
  background-position: left center;
  border: none;

  padding: 0;

  height: 22px;
  width: 33px;

  font-size: 14px;
}

.like-counter {
  margin-left: 20px;

  line-height: 22px;
}

.registration-button {
  width: 179px;
  height: 36px;
  border: 2px solid #D5D5D6;
  background: white;
}

.lock-button {
  width: 179px;
  height: 36px;
  border: 2px solid #E9EAEA;
  background: white;
  color: rgba(43, 45, 51, 0.24);
}

.modal-window-background {
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;

  position: fixed;
  background: rgba(0, 0, 0, 0.7);
}